<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MyTel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">MyTel</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main class="main">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Téléphone Samsung S10 plus</a>
              </div>
              <div class="product-brand">Samsung</div>
              <div class="product-price">$600</div>
              <div class="product-rating">4.8 stars (100 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Téléphone Samsung S10 plus</a>
              </div>
              <div class="product-brand">Samsung</div>
              <div class="product-price">$600</div>
              <div class="product-rating">4.8 stars (100 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Téléphone Samsung S10 plus</a>
              </div>
              <div class="product-brand">Samsung</div>
              <div class="product-price">$600</div>
              <div class="product-rating">4.8 stars (100 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Téléphone Samsung S10 plus</a>
              </div>
              <div class="product-brand">Samsung</div>
              <div class="product-price">$600</div>
              <div class="product-rating">4.8 stars (100 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Téléphone Samsung S10 plus</a>
              </div>
              <div class="product-brand">Samsung</div>
              <div class="product-price">$600</div>
              <div class="product-rating">4.8 stars (100 reviews)</div>
            </div>
          </li>
        </ul>
      </main>
      <footer class="footer">All Rights are reserved</footer>
    </div>
  </body>
</html>
